<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!--<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight/xcode.css">

    <script src="{{ site.baseurl }}/js/react.js"></script>
    <script src="{{ site.baseurl }}/js/showdown.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/underscore.js"></script>
     <script src="{{ site.baseurl }}/js/marked.js"></script>
     <script src="{{ site.baseurl }}/js/highlight.pack.js"></script>
   <script src="{{ site.baseurl }}/js/raphael-min.js"></script> 
   <script src="{{ site.baseurl }}/js/raphael.export.js"></script> 

    <script type="text/javascript" src="{{ site.baseurl }}/js/backbone.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/backbone.localStorage.js"></script>
   <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
    <script>
    var postsList = [];
    var baseUrl = "{{ site.baseurl }}";
    marked.setOptions({
    highlight: function (code) {
        return hljs.highlightAuto(code).value;
      }
    });
    </script>
    {% for post in site.posts %}

    <script>
      postsList.push({
        id: "{{ post.id }}", 
        title: "{{ post.title }}", 
        date: "{{ post.date | date_to_string }}",
        url: "{{ post.url }}",
        path: "{{ post.path }}",
        layout: "{{ post.layout }}",
        excerpt: "{{ post.my_variable | escape | strip_newlines }}",
        content: "{{ post.content | strip_newlines | replace: '"', '\"' }}",
        index: "{{ forloop.index }}"
      });
    </script>
    <script type="text/template" class="template{{ forloop.index }}">
      {{ post.content }}
    </script>


{% endfor %}
