{% include head.html %}
 <nav class="navbar navbar-default" role="navigation">
   <ul class="nav navbar-nav nav-poop">
    <li class="awesome">
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
    {% for page in site.pages %}
      {% if page.title != 'Coding Alchemy' %}
      <li class="awesome">
        <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
</nav>
    {{ content }}
<div class="blogPosts">
<h3>Blog Posts</h3>
<ul class="list-unstyled">
{% for post in site.posts %}
  <li><span class="date">{{ post.date | date_to_string }}</span> &raquo; <a class="post" href="{{ baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}  
</ul>
</div>
{% include foot.html %}